#wrapper {
	/*background-color: #ccc;*/
	height: 960px;
	width: 960px;
	margin: 30px auto;
/* Note that the height and width MUST be set to the same value for the script to work properly */
/* And they MUST be in pixels */
}

.node {
	background-color: #444;
	height: 20px;
	width: 20px;
	margin: 2px 2px;
	border-style: none;
	border-width: 0px;
	display: inline-block;
	border-radius: 5px;
;}

.row {
	height: 24px;
	width: 100%;
	margin: 0 0;
	border-style: none;
	border-width: 0px;
;}

button {
	display: block;
	padding: 0 20px;
	margin: 0;
	position: absolute;
	right: 0px;

}

#button_wrapper {
	width: 960px;
	height: 60px;
	margin: 0 auto;
	position: relative; 
}